@model NdcBingo.Models.Game.GameViewModel

@{
    ViewBag.Title = "Game";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2>@Model.PlayerName</h2>
        <p class="lead">Lines: @(Model.WinningLines) / 10</p>
    </div>
</div>
@for (int r = 0; r < Model.Squares.Length; r += Model.ColumnCount)
{
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="row">
                    @for (int s = 0; s < Model.ColumnCount; s++)
                    {
                        var square = Model.Squares[r + s];
                        var color = square.Claimed ? "bg-info" : "bg-success";

                        <div class="card col-3 @color text-white text-center bingo-square" style="min-height: 12.5vh"
                             data-square-id="@square.Id"
                             data-square-text="@square.Text" data-square-type="@square.Type"
                             data-square-description="@square.Description"
                             data-claim-link="@square.ClaimLink">
                            @if (square.Type.Equals("tech", StringComparison.OrdinalIgnoreCase))
                            {
                                <i class="fas fa-presentation fa-3x mx-auto mt-4 mb-2"></i>
                            }
                            else if (square.Type.Equals("expo", StringComparison.OrdinalIgnoreCase))
                            {
                                <i class="fas fa-hotel fa-3x mx-auto mt-4 mb-2"></i>
                            }
                            else
                            {
                                <i class="fas fa-smile fa-3x mx-auto mt-4 mb-2"></i>
                            }
                            <h6>@square.Text</h6>
                        </div>
                    }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <h6 id="selected-text"></h6>
                <p id="selected-description"></p>
            </div>
            <div class="col-md-3 col-lg-2">
                <a class="btn btn-warning btn-lg btn-block h-100 text-white" id="claim-button">
                    <i class="fas fa-thumbs-up fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/game.js"></script>
}